@font-face {
    font-family: 'Cheltenham';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/nyt-cheltenham-300-italic.otf') format('opentype');
}

@font-face {
    font-family: 'Cheltenham';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/nyt-cheltenham-500-normal.woff2') format('woff2');
}

.feed {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    max-width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.1);
}

.post_content {
    padding: 50px 70px;
}

.hero_image {

}

.post_title {
    font-size: 2.5em;
    line-height: 1.2;
    margin-bottom: 10px;
}

.post_subtitle {
    font-size: 0.8em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.post_date {
    /* font-size: 1em;
    color: #666; */
    font-size: 0.8em;
    font-family: sans-serif;
    text-transform: uppercase;
    font-weight: 700;
}

.post_info {
    margin-bottom: 10px;
}

.figure {
    margin: 10px 0;
}

.figure_image {
    margin: 10px auto;
}

.post_body p {
    font-size: 1.2em;
    font-family: serif;
    margin: 10px 0;
}

.post_body p a {
    white-space: nowrap;
}

.figure_caption {
    width: 600px;
    font-family: sans-serif;
    font-weight: 700;
    margin: 0 auto;
    color: #828282;
    text-transform: uppercase;
    font-size: 1em;
    display: block;
    max-width: 100%;
}