@font-face {
    font-family: 'Cheltenham';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/nyt-cheltenham-300-italic.otf') format('opentype');
}

@font-face {
    font-family: 'Cheltenham';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/fonts/nyt-cheltenham-500-normal.woff2') format('woff2');
}

.page {
    font-family: "Cheltenham";
    display: flex;
    flex-direction: row-reverse;
    background-size: cover;
    background-position: 22% 44%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.background_image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: 50% 100%;
}

@media (min-aspect-ratio: 2/1) {
    .background_image {
        object-position: 50% 50%;
    }
}

@media (max-aspect-ratio: 1) {
    .background_image {
        object-position: 32% 50%;
    }
}

.navigator {
    margin: 20px 40px;
    font-size: 4vh;
    line-height: 5vh;
 }

@media (max-aspect-ratio: 3/4) {
    .background_image {
        object-position: 31% 0%;
        height: 150%;
    }

    .navigator {
        margin: 20px auto;
    }
}



.name {
    margin: 0.5em 0px;
}

.descriptors {
    
}

.descriptors span {
    display: block;
}

.page_link {
    /* font-size: 2em; */
    font-style: italic;
    cursor: pointer;
    text-decoration: underline;
}

.page_link:hover {
    opacity: 0.5;
}

.technologist_link {
    text-decoration-color: #00ffce;
}

.creative_link {
    text-decoration-color: #ff00f3;
}

.chef_link {
    text-decoration-color: #00b1ff;
}

.external_link_container {
    display: flex;
    flex-direction: row;
}

.external_link {
    height: 0.5em;
    width: 0.5em;
    display: block;
    margin-top: 0.25em;
    margin-right: 0.25em;
}

.external_link:hover {
    opacity: 0.5;
}